Section : 1 <br>
    Generating Downsampling.csv file for all the three datasets,detail.csv,detailTemp.csv,detailVol.csv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [87]:
df_detail = pd.read_csv("detail.csv")

In [3]:
df_detail.head(5)

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,10-10-2020 20:03:39
1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,10-10-2020 20:03:40
2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,10-10-2020 20:03:41
3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,10-10-2020 20:03:42
4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,10-10-2020 20:03:43

In [7]:
df_detail.columns

Index(['Record Index', 'Status', 'JumpTo', 'Cycle', 'Step', 'Cur(mA)',
       'Voltage(V)', 'CapaCity(mAh)', 'Energy(mWh)',
       'Relative Time(h:min:s.ms)', 'Absolute Time'],
      dtype='object')

In [5]:
df_detail.dtypes

Record Index                   int64
Status                        object
JumpTo                         int64
Cycle                          int64
Step                           int64
Cur(mA)                      float64
Voltage(V)                   float64
CapaCity(mAh)                float64
Energy(mWh)                  float64
Relative Time(h:min:s.ms)     object
Absolute Time                 object
dtype: object

In [6]:
df_detail.describe()

,Record Index,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh)
count,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000
mean,218913.396433,53.152028,10.785193,42.853843,-1.656914,3.857879,1215.217266,4701.319813
std,134519.705795,29.477399,5.545429,21.876545,791.885743,0.274539,773.412135,3007.652270
min,1.000000,1.000000,1.000000,1.000000,-870.500000,2.789800,0.000000,0.000000
25%,104171.000000,27.000000,6.000000,23.000000,-870.100000,3.695400,525.907000,2033.746000
50%,208341.000000,52.000000,11.000000,43.000000,104.500000,3.891000,1225.524000,4721.344000
75%,354464.000000,82.000000,16.000000,62.000000,870.500000,4.058400,1925.788000,7400.260000
max,458634.000000,108.000000,21.000000,83.000000,870.900000,4.200700,2383.974000,9492.772000

In [8]:
df_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416681 entries, 0 to 416680
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Record Index               416681 non-null  int64
 1   Status                     416681 non-null  object
 2   JumpTo                     416681 non-null  int64
 3   Cycle                      416681 non-null  int64
 4   Step                       416681 non-null  int64
 5   Cur(mA)                    416681 non-null  float64
 6   Voltage(V)                 416681 non-null  float64
 7   CapaCity(mAh)              416681 non-null  float64
 8   Energy(mWh)                416681 non-null  float64
 9   Relative Time(h:min:s.ms)  416681 non-null  object
 10  Absolute Time              416681 non-null  object
dtypes: float64(4), int64(4), object(3)
memory usage: 35.0+ MB

In [9]:
#Checking for null values
df_detail.isna().sum()

Record Index                 0
Status                       0
JumpTo                       0
Cycle                        0
Step                         0
Cur(mA)                      0
Voltage(V)                   0
CapaCity(mAh)                0
Energy(mWh)                  0
Relative Time(h:min:s.ms)    0
Absolute Time                0
dtype: int64

In [10]:
#Checking for duplicated values
duplicates = df_detail.duplicated()
df_detail[duplicates].sum()

Record Index                 0.0
Status                       0.0
JumpTo                       0.0
Cycle                        0.0
Step                         0.0
Cur(mA)                      0.0
Voltage(V)                   0.0
CapaCity(mAh)                0.0
Energy(mWh)                  0.0
Relative Time(h:min:s.ms)    0.0
Absolute Time                0.0
dtype: float64

In [23]:
df_detail[45:50]

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
45,46,CCCV_DChg,3,1,3,-870.1,3.4520,8.943,31.061,0:00:37.000,10-10-2020 20:04:22
46,47,CCCV_DChg,3,1,3,-870.1,3.4511,9.184,31.895,0:00:38.000,10-10-2020 20:04:23
47,48,CCCV_DChg,3,1,3,-870.1,3.4502,9.426,32.729,0:00:39.000,10-10-2020 20:04:24
48,49,CCCV_DChg,3,1,3,-870.1,3.4492,9.668,33.563,0:00:40.000,10-10-2020 20:04:25
49,50,CCCV_DChg,3,1,3,-870.1,3.4486,9.909,34.397,0:00:41.000,10-10-2020 20:04:26

<b> I have to rename the columns, just for easy programming </b>

In [88]:
df_detail.rename(columns={'Record Index': 'Record_Index', 'Status': 'Status','JumpTo': 'JumpTo','Cycle': 'Cycle',
                   'Step': 'Step','Cur(mA)': 'Current','Voltage(V)': 'Voltage','CapaCity(mAh)': 'CapaCity',
                   'Energy(mWh)': 'Energy','Relative Time(h:min:s.ms)': 'Relative_Time','Absolute Time': 'Absolute_Time'}, inplace=True)

In [89]:
df_detail.head(5)

,Record_Index,Status,JumpTo,Cycle,Step,Current,Voltage,CapaCity,Energy,Relative_Time,Absolute_Time
0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,10-10-2020 20:03:39
1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,10-10-2020 20:03:40
2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,10-10-2020 20:03:41
3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,10-10-2020 20:03:42
4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,10-10-2020 20:03:43

In [26]:
df_detail['Relative_Time'].unique()

array(['0:00:00.000', '0:00:01.000', '0:00:02.000', ..., '3:14:52.300',
       '2:44:07.800', '0:10:50.800'], dtype=object)

<b> Splitting 'Relative_Time' into Hour min and seconds</b>

In [70]:
df_detail

,Record_Index,Status,JumpTo,Cycle,Step,Current,Voltage,CapaCity,Energy,Relative_Time,Absolute_Time
0,1,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:00.000,10-10-2020 20:03:39
1,2,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:01.000,10-10-2020 20:03:40
2,3,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:02.000,10-10-2020 20:03:41
3,4,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:03.000,10-10-2020 20:03:42
4,5,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:04.000,10-10-2020 20:03:43
...,...,...,...,...,...,...,...,...,...,...,...
416676,458630,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:56.000,10-16-2020 03:25:35
416677,458631,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:57.000,10-16-2020 03:25:36
416678,458632,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:58.000,10-16-2020 03:25:37
416679,458633,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:59.000,10-16-2020 03:25:38
416680,458634,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:10:00.000,10-16-2020 03:25:39

In [71]:
df_detail.dtypes

Record_Index       int64
Status            object
JumpTo             int64
Cycle              int64
Step               int64
Current          float64
Voltage          float64
CapaCity         float64
Energy           float64
Relative_Time     object
Absolute_Time     object
dtype: object

In [90]:
import datetime as dt

In [91]:
df_detail["Absolute_Time"]= pd.to_datetime(df_detail["Absolute_Time"])

In [92]:
df_detail["Absolute_Time"]

0        2020-10-10 20:03:39
1        2020-10-10 20:03:40
2        2020-10-10 20:03:41
3        2020-10-10 20:03:42
4        2020-10-10 20:03:43
                 ...
416676   2020-10-16 03:25:35
416677   2020-10-16 03:25:36
416678   2020-10-16 03:25:37
416679   2020-10-16 03:25:38
416680   2020-10-16 03:25:39
Name: Absolute_Time, Length: 416681, dtype: datetime64[ns]

In [93]:
df_detail['hour'] = df_detail['Absolute_Time'].dt.hour
df_detail['min'] = df_detail['Absolute_Time'].dt.minute
df_detail['seconds'] = df_detail['Absolute_Time'].dt.second

## Apply down-sampling method to reduce the sampling rate  to `1 sample/minute`

In [96]:
df_detail[15:50]

,Record_Index,Status,JumpTo,Cycle,Step,Current,Voltage,CapaCity,Energy,Relative_Time,Absolute_Time,hour,min,seconds
15,16,CCCV_DChg,3,1,3,-870.1,3.4874,1.692,5.911,0:00:07.000,2020-10-10 20:03:52,20,3,52
16,17,CCCV_DChg,3,1,3,-870.1,3.4858,1.934,6.753,0:00:08.000,2020-10-10 20:03:53,20,3,53
17,18,CCCV_DChg,3,1,3,-870.1,3.4846,2.175,7.596,0:00:09.000,2020-10-10 20:03:54,20,3,54
18,19,CCCV_DChg,3,1,3,-870.1,3.4827,2.417,8.438,0:00:10.000,2020-10-10 20:03:55,20,3,55
19,20,CCCV_DChg,3,1,3,-870.1,3.4815,2.659,9.279,0:00:11.000,2020-10-10 20:03:56,20,3,56
20,21,CCCV_DChg,3,1,3,-870.1,3.4802,2.900,10.121,0:00:12.000,2020-10-10 20:03:57,20,3,57
21,22,CCCV_DChg,3,1,3,-870.1,3.4790,3.142,10.962,0:00:13.000,2020-10-10 20:03:58,20,3,58
22,23,CCCV_DChg,3,1,3,-870.1,3.4778,3.384,11.802,0:00:14.000,2020-10-10 20:03:59,20,3,59
23,24,CCCV_DChg,3,1,3,-870.1,3.4765,3.625,12.643,0:00:15.000,2020-10-10 20:04:00,20,4,0
24,25,CCCV_DChg,3,1,3,-870.1,3.4750,3.867,13.483,0:00:16.000,2020-10-10 20:04:01,20,4,1
25,26,CCCV_DChg,3,1,3,-870.1,3.4740,4.109,14.322,0:00:17.000,2020-10-10 20:04:02,20,4,2
26,27,CCCV_DChg,3,1,3,-870.1,3.4728,4.350,15.162,0:00:18.000,2020-10-10 20:04:03,20,4,3
27,28,CCCV_DChg,3,1,3,-870.1,3.4716,4.592,16.001,0:00:19.000,2020-10-10 20:04:04,20,4,4
28,29,CCCV_DChg,3,1,3,-870.1,3.4703,4.834,16.840,0:00:20.000,2020-10-10 20:04:05,20,4,5
29,30,CCCV_DChg,3,1,3,-870.1,3.4694,5.076,17.679,0:00:21.000,2020-10-10 20:04:06,20,4,6
30,31,CCCV_DChg,3,1,3,-870.1,3.4685,5.317,18.517,0:00:22.000,2020-10-10 20:04:07,20,4,7
31,32,CCCV_DChg,3,1,3,-870.1,3.4669,5.559,19.355,0:00:23.000,2020-10-10 20:04:08,20,4,8
32,33,CCCV_DChg,3,1,3,-870.1,3.4660,5.801,20.193,0:00:24.000,2020-10-10 20:04:09,20,4,9
33,34,CCCV_DChg,3,1,3,-870.1,3.4647,6.042,21.030,0:00:25.000,2020-10-10 20:04:10,20,4,10
34,35,CCCV_DChg,3,1,3,-870.1,3.4638,6.284,21.868,0:00:26.000,2020-10-10 20:04:11,20,4,11
35,36,CCCV_DChg,3,1,3,-870.1,3.4629,6.526,22.705,0:00:27.000,2020-10-10 20:04:12,20,4,12
36,37,CCCV_DChg,3,1,3,-870.1,3.4616,6.767,23.542,0:00:28.000,2020-10-10 20:04:13,20,4,13
37,38,CCCV_DChg,3,1,3,-870.1,3.4607,7.009,24.378,0:00:29.000,2020-10-10 20:04:14,20,4,14
38,39,CCCV_DChg,3,1,3,-870.1,3.4595,7.251,25.214,0:00:30.000,2020-10-10 20:04:15,20,4,15
39,40,CCCV_DChg,3,1,3,-870.1,3.4582,7.492,26.050,0:00:31.000,2020-10-10 20:04:16,20,4,16
40,41,CCCV_DChg,3,1,3,-870.1,3.4573,7.734,26.886,0:00:32.000,2020-10-10 20:04:17,20,4,17
41,42,CCCV_DChg,3,1,3,-870.1,3.4564,7.976,27.721,0:00:33.000,2020-10-10 20:04:18,20,4,18
42,43,CCCV_DChg,3,1,3,-870.1,3.4551,8.218,28.557,0:00:34.000,2020-10-10 20:04:19,20,4,19
43,44,CCCV_DChg,3,1,3,-870.1,3.4542,8.459,29.392,0:00:35.000,2020-10-10 20:04:20,20,4,20
44,45,CCCV_DChg,3,1,3,-870.1,3.4536,8.701,30.226,0:00:36.000,2020-10-10 20:04:21,20,4,21
45,46,CCCV_DChg,3,1,3,-870.1,3.4520,8.943,31.061,0:00:37.000,2020-10-10 20:04:22,20,4,22
46,47,CCCV_DChg,3,1,3,-870.1,3.4511,9.184,31.895,0:00:38.000,2020-10-10 20:04:23,20,4,23
47,48,CCCV_DChg,3,1,3,-870.1,3.4502,9.426,32.729,0:00:39.000,2020-10-10 20:04:24,20,4,24
48,49,CCCV_DChg,3,1,3,-870.1,3.4492,9.668,33.563,0:00:40.000,2020-10-10 20:04:25,20,4,25
49,50,CCCV_DChg,3,1,3,-870.1,3.4486,9.909,34.397,0:00:41.000,2020-10-10 20:04:26,20,4,26

In [97]:
df_detail.shape

(416681, 14)

In [99]:
#Logic is : Split the columns and then take the records only where it becames '0'
df_detail_down_Sample = df_detail[df_detail['seconds'] == 0]

In [101]:
df_detail_down_Sample[15:25]

,Record_Index,Status,JumpTo,Cycle,Step,Current,Voltage,CapaCity,Energy,Relative_Time,Absolute_Time,hour,min,seconds
928,929,Rest,6,2,6,0.0,3.0797,0.000,0.000,0:08:46.000,2020-10-10 20:19:00,20,19,0
988,989,Rest,6,2,6,0.0,3.0837,0.000,0.000,0:09:46.000,2020-10-10 20:20:00,20,20,0
1049,1050,CCCV_Chg,7,2,7,870.5,3.3987,11.123,36.990,0:00:46.000,2020-10-10 20:21:00,20,21,0
1109,1110,CCCV_Chg,7,2,7,870.5,3.5050,25.632,87.143,0:01:46.000,2020-10-10 20:22:00,20,22,0
1169,1170,CCCV_Chg,7,2,7,870.5,3.5751,40.140,138.532,0:02:46.000,2020-10-10 20:23:00,20,23,0
1229,1230,CCCV_Chg,7,2,7,870.5,3.6284,54.649,190.805,0:03:46.000,2020-10-10 20:24:00,20,24,0
1289,1290,CCCV_Chg,7,2,7,870.5,3.6709,69.156,243.765,0:04:46.000,2020-10-10 20:25:00,20,25,0
1349,1350,CCCV_Chg,7,2,7,870.5,3.7065,83.663,297.292,0:05:46.000,2020-10-10 20:26:00,20,26,0
1409,1410,CCCV_Chg,7,2,7,870.5,3.7366,98.169,351.295,0:06:46.000,2020-10-10 20:27:00,20,27,0
1469,1470,CCCV_Chg,7,2,7,870.5,3.7630,112.675,405.706,0:07:46.000,2020-10-10 20:28:00,20,28,0

In [100]:
df_detail_down_Sample.shape

(6948, 14)

In [102]:
#Save the CSV to local disk of the computer
df_detail_down_Sample.to_csv("C:/Users/hp/Desktop/Internship tasks/New folder (2)/detailDownsampled.csv")

<b>Before running the below code : Restart The Kernal  and Clear the Outputs </b>

Lets use the same logic to downsample the Vol and Temp datasets

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [148]:
df_vol = pd.read_csv("detailVol.csv")

In [106]:
df_vol.head(5)

,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,1,Rest,0:00:00.000,10-10-2020 20:03:39,-0.0013,0.0
1,2,Rest,0:00:01.000,10-10-2020 20:03:40,-0.0013,0.0
2,3,Rest,0:00:02.000,10-10-2020 20:03:41,-0.0013,0.0
3,4,Rest,0:00:03.000,10-10-2020 20:03:42,-0.0013,0.0
4,5,Rest,0:00:04.000,10-10-2020 20:03:43,-0.0012,0.0

In [107]:
df_vol.shape

(416681, 6)

In [110]:
df_vol.dtypes

Record ID                       int64
Step Name                      object
Relative Time(h:min:s.ms)      object
Realtime                       object
Auxiliary channel TU1 U(V)    float64
Gap of Voltage                float64
dtype: object

In [108]:
df_vol.describe()

           Record ID  Auxiliary channel TU1 U(V)  Gap of Voltage
count  416681.000000               416681.000000        416681.0
mean   218913.396433                   -0.001256             0.0
std    134519.705795                    0.000079             0.0
min         1.000000                   -0.001600             0.0
25%    104171.000000                   -0.001300             0.0
50%    208341.000000                   -0.001200             0.0
75%    354464.000000                   -0.001200             0.0
max    458634.000000                   -0.001000             0.0

In [111]:
#Checking for null values
df_vol.isna().sum()

Record ID                     0
Step Name                     0
Relative Time(h:min:s.ms)     0
Realtime                      0
Auxiliary channel TU1 U(V)    0
Gap of Voltage                0
dtype: int64

In [112]:
#Checking for duplicated values
duplicates = df_vol.duplicated()
df_vol[duplicates].sum()

Record ID                     0.0
Step Name                     0.0
Relative Time(h:min:s.ms)     0.0
Realtime                      0.0
Auxiliary channel TU1 U(V)    0.0
Gap of Voltage                0.0
dtype: float64

In [116]:
df_vol.columns

Index(['Record ID', 'Step Name', 'Relative Time(h:min:s.ms)', 'Realtime',
       'Auxiliary channel TU1 U(V)', 'Gap of Voltage'],
      dtype='object')

<b>Rename the column </b>

In [117]:
df_vol.rename(columns={'Record ID': 'Record_ID', 'Step Name': 'Step_Name','Relative Time(h:min:s.ms)': 'Relative_Time','Realtime': 'Realtime',
                   'Auxiliary channel TU1 U(V)': 'Auxiliary_channel','Gap of Voltage': 'Gap_of_Voltage'}, inplace=True)

In [118]:
df_vol.head(5)

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Voltage
0,1,Rest,0:00:00.000,10-10-2020 20:03:39,-0.0013,0.0
1,2,Rest,0:00:01.000,10-10-2020 20:03:40,-0.0013,0.0
2,3,Rest,0:00:02.000,10-10-2020 20:03:41,-0.0013,0.0
3,4,Rest,0:00:03.000,10-10-2020 20:03:42,-0.0013,0.0
4,5,Rest,0:00:04.000,10-10-2020 20:03:43,-0.0012,0.0

In [ ]:
import datetime as dt

In [119]:
df_vol["Realtime"]= pd.to_datetime(df_vol["Realtime"])

In [120]:
df_vol['hour'] = df_vol['Realtime'].dt.hour
df_vol['minute'] = df_vol['Realtime'].dt.minute
df_vol['second'] = df_vol['Realtime'].dt.second

In [121]:
df_vol.head(5)

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Voltage,hour,minute,second
0,1,Rest,0:00:00.000,2020-10-10 20:03:39,-0.0013,0.0,20,3,39
1,2,Rest,0:00:01.000,2020-10-10 20:03:40,-0.0013,0.0,20,3,40
2,3,Rest,0:00:02.000,2020-10-10 20:03:41,-0.0013,0.0,20,3,41
3,4,Rest,0:00:03.000,2020-10-10 20:03:42,-0.0013,0.0,20,3,42
4,5,Rest,0:00:04.000,2020-10-10 20:03:43,-0.0012,0.0,20,3,43

## Apply down-sampling method to reduce the sampling rate to `1 sample/minute`

In [124]:
#Logic is : Split the columns and then take the records only where it becames '0'
df_vol_down_Sample = df_vol[df_vol['second'] == 0]

In [125]:
df_vol_down_Sample[25:35]

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Voltage,hour,minute,second
1529,1530,CCCV_Chg,0:08:46.000,2020-10-10 20:29:00,-0.0013,0.0,20,29,0
1589,1590,CCCV_Chg,0:09:46.000,2020-10-10 20:30:00,-0.0013,0.0,20,30,0
1649,1650,CCCV_Chg,0:10:46.000,2020-10-10 20:31:00,-0.0013,0.0,20,31,0
1709,1710,CCCV_Chg,0:11:46.000,2020-10-10 20:32:00,-0.0013,0.0,20,32,0
1769,1770,CCCV_Chg,0:12:46.000,2020-10-10 20:33:00,-0.0015,0.0,20,33,0
1829,1830,CCCV_Chg,0:13:46.000,2020-10-10 20:34:00,-0.0013,0.0,20,34,0
1889,1890,CCCV_Chg,0:14:46.000,2020-10-10 20:35:00,-0.0012,0.0,20,35,0
1949,1950,CCCV_Chg,0:15:46.000,2020-10-10 20:36:00,-0.0013,0.0,20,36,0
2009,2010,CCCV_Chg,0:16:46.000,2020-10-10 20:37:00,-0.0013,0.0,20,37,0
2069,2070,CCCV_Chg,0:17:46.000,2020-10-10 20:38:00,-0.0012,0.0,20,38,0

In [126]:
df_vol_down_Sample.to_csv("C:/Users/hp/Desktop/Internship tasks/New folder (2)/detailVolDownsampled.csv")

<b>Before running the below code : Restart The Kernal  and Clear the Outputs </b>

Lets import temp dataset

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [129]:
df_temp = pd.read_excel("detailTemp.xlsx")

In [130]:
df_temp.head(5)

,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 T(Â°C),Gap of Temperature
0,1,Rest,00:00:00,2020-10-10 20:03:39,27.7,0
1,2,Rest,00:00:01,2020-10-10 20:03:40,27.7,0
2,3,Rest,00:00:02,2020-10-10 20:03:41,27.7,0
3,4,Rest,00:00:03,2020-10-10 20:03:42,27.7,0
4,5,Rest,00:00:04,2020-10-10 20:03:43,27.7,0

In [131]:
df_temp.isna().sum()

Record ID                      0
Step Name                      0
Relative Time(h:min:s.ms)      0
Realtime                       0
Auxiliary channel TU1 T(Â°C)    0
Gap of Temperature             0
dtype: int64

<b> Lets Rename the Column </b>

In [135]:
df_temp.rename(columns={'Record ID': 'Record_ID', 'Step Name': 'Step_Name','Relative Time(h:min:s.ms)': 'Relative_Time','Realtime': 'Realtime',
                   'Auxiliary channel TU1 T(Â°C)': 'Auxiliary_channel','Gap of Temperature': 'Gap_of_Temperature'}, inplace=True)

In [136]:
df_temp.head()

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Temperature
0,1,Rest,00:00:00,2020-10-10 20:03:39,27.7,0
1,2,Rest,00:00:01,2020-10-10 20:03:40,27.7,0
2,3,Rest,00:00:02,2020-10-10 20:03:41,27.7,0
3,4,Rest,00:00:03,2020-10-10 20:03:42,27.7,0
4,5,Rest,00:00:04,2020-10-10 20:03:43,27.7,0

In [137]:
import datetime as dt

In [138]:
df_temp["Realtime"]= pd.to_datetime(df_temp["Realtime"])

In [139]:
df_temp['hour'] = df_temp['Realtime'].dt.hour
df_temp['minute'] = df_temp['Realtime'].dt.minute
df_temp['second'] = df_temp['Realtime'].dt.second

In [140]:
df_temp.head(5)

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Temperature,hour,minute,second
0,1,Rest,00:00:00,2020-10-10 20:03:39,27.7,0,20,3,39
1,2,Rest,00:00:01,2020-10-10 20:03:40,27.7,0,20,3,40
2,3,Rest,00:00:02,2020-10-10 20:03:41,27.7,0,20,3,41
3,4,Rest,00:00:03,2020-10-10 20:03:42,27.7,0,20,3,42
4,5,Rest,00:00:04,2020-10-10 20:03:43,27.7,0,20,3,43

## Apply down-sampling method to reduce the sampling rate to `1 sample/minute`

In [141]:
#Logic is : Split the columns and then take the records only where it becames '0'
df_temp_down_Sample = df_temp[df_temp['second'] == 0]

In [142]:
df_temp_down_Sample.head(5)

,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Temperature,hour,minute,second
23,24,CCCV_DChg,00:00:15,2020-10-10 20:04:00,27.8,0,20,4,0
83,84,CCCV_DChg,00:01:15,2020-10-10 20:05:00,28.2,0,20,5,0
143,144,CCCV_DChg,00:02:15,2020-10-10 20:06:00,28.6,0,20,6,0
203,204,CCCV_DChg,00:03:15,2020-10-10 20:07:00,28.9,0,20,7,0
263,264,CCCV_DChg,00:04:15,2020-10-10 20:08:00,29.0,0,20,8,0

In [143]:
df_temp_down_Sample.to_csv("C:/Users/hp/Desktop/Internship tasks/New folder (2)/detailTempDownsampled.csv")

In [149]:
import numpy as np
from scipy.signal import butter,filtfilt
# Filter requirements.
T = 5.0         # Sample Period
fs = 30.0       # sample rate, Hz
cutoff = 2      # desired cutoff frequency of the filter, Hz ,      slightly higher than actual 1.2 Hz
nyq = 0.5 * fs  # Nyquist Frequency
order = 2       # sin wave can be approx represented as quadratic
n = int(T * fs) # total number of samples

In [150]:
def butter_lowpass_filter(df_vol, cutoff, fs, order):
    normal_cutoff = cutoff / nyq
    # Get the filter coefficients 
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    y = filtfilt(b, a, df_vol)
    return y

In [ ]:
# Filter the data, and plot both the original and filtered signals.
y = butter_lowpass_filter(df_vol, cutoff, fs, order)
fig = go.Figure()
fig.add_trace(go.Scatter(
            y = df_vol,
            line =  dict(shape =  'spline' ),
            name = 'signal with noise'
            ))
fig.add_trace(go.Scatter(
            y = y,
            line =  dict(shape =  'spline' ),
            name = 'filtered signal'
            ))
fig.show()

In [155]:
df_detailVolDownsampled = pd.read_csv("detailVolDownsampled.csv")

In [156]:
df_detailVolDownsampled.head(5)

,Unnamed: 0,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Voltage
0,23,24,CCCV_DChg,00:15.0,10-10-2020 20:04,-0.0013,0
1,83,84,CCCV_DChg,01:15.0,10-10-2020 20:05,-0.0013,0
2,143,144,CCCV_DChg,02:15.0,10-10-2020 20:06,-0.0013,0
3,203,204,CCCV_DChg,03:15.0,10-10-2020 20:07,-0.0013,0
4,263,264,CCCV_DChg,04:15.0,10-10-2020 20:08,-0.0012,0

In [163]:
df_detailVolDownsampled[35:45]

,Unnamed: 0,Record_ID,Step_Name,Relative_Time,Realtime,Auxiliary_channel,Gap_of_Voltage
35,2129,2130,CCCV_Chg,18:46.0,10-10-2020 20:39,-0.0013,0
36,2189,2190,CCCV_Chg,19:46.0,10-10-2020 20:40,-0.0015,0
37,2249,2250,CCCV_Chg,20:46.0,10-10-2020 20:41,-0.0010,0
38,2309,2310,CCCV_Chg,21:46.0,10-10-2020 20:42,-0.0013,0
39,2369,2370,CCCV_Chg,22:46.0,10-10-2020 20:43,-0.0012,0
40,2429,2430,CCCV_Chg,23:46.0,10-10-2020 20:44,-0.0013,0
41,2489,2490,CCCV_Chg,24:46.0,10-10-2020 20:45,-0.0013,0
42,2549,2550,CCCV_Chg,25:46.0,10-10-2020 20:46,-0.0013,0
43,2609,2610,CCCV_Chg,26:46.0,10-10-2020 20:47,-0.0012,0
44,2669,2670,CCCV_Chg,27:46.0,10-10-2020 20:48,-0.0013,0