In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("Book2.csv")

In [ ]:
df.head(5)

In [ ]:
df.columns

In [ ]:
df.isna().sum()

<b>Use Mean to impute the null values </b>

In [ ]:
df_mean = df.copy(deep=False)

In [ ]:
df_mean.describe()

In [ ]:
df_mean['Weight'] = df_mean['Weight'].fillna(df_mean['Weight'].mean())

In [ ]:
df_mean['Height'] = df_mean['Height'].fillna(df_mean['Height'].mean())

In [ ]:
df_mean.isna().sum()

In [ ]:
df_mean.head()

In [ ]:
df_mean.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/df_mean.csv",index=True)

<b>Use Median to impute the null values</b>

In [ ]:
df_median = df.copy(deep=False)

In [ ]:
df_median.head()

In [ ]:
df_median.isna().sum()

In [ ]:
df_median['Weight'] = df_median['Weight'].fillna(df_median['Weight'].median())

In [ ]:
df_median['Height'] = df_median['Height'].fillna(df_median['Height'].median())

In [ ]:
df_median.isna().sum()

In [ ]:
df_median.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/df_median.csv",index=True)

<b>Use Random value to impute the null value</b>

In [ ]:
df_random = df.copy(deep=False)

In [ ]:
df_random.head(3)

In [ ]:
df_random.isna().sum()

In [ ]:
df_random

In [ ]:
def na_randomfill(series):
    na_mask = pd.isnull(series)   # boolean mask for null values
    n_null = na_mask.sum()        # number of nulls in the Series
    
    if n_null == 'NaN':
        return series             # if there are no nulls, no need to resample
    
    # Randomly sample the non-null values from our series
    #  only sample this Series as many times as we have nulls 
    fill_values = series[~na_mask].sample(n=n_null, replace=True, random_state=0)

    # This ensures our new values will replace NaNs in the correct locations
    fill_values.index = series.index[na_mask]
    
    return series.fillna(fill_values)

In [ ]:
df_random['Weight'] = na_randomfill(df_random["Weight"])

In [ ]:
df_random['Height'] = na_randomfill(df_random["Height"])

In [ ]:
df_random.head(8)

In [ ]:
df_random.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/df_random.csv",index=True)

All of these imputation completed in the above steps : <br>
Use Mean to impute the null values <br>
Use Median to impute the null values <br>
Use Random value to impute the null value <br>

<b>Model building on mean imputation dataset by splitting 70:30</b>

Predict the Height of a Person given the weight

In [ ]:
df_mean = pd.read_csv("df_mean.csv")

In [ ]:
df_mean.head(5)

In [ ]:
df_mean = df_mean.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_mean

In [ ]:
X = df_mean.iloc[:, :-1].values
y = df_mean.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.3,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>Prediction </b>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_mean_imputed_dataset_70_30_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_mean_imputed_dataset_70_30_split

In [ ]:
actual_vs_predicted_mean_imputed_dataset_70_30_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_mean_imputed_dataset_70_30_split.csv",index=True)

<b>Evaluating the model performance </b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

<b>Model building on median imputation dataset by splitting 70:30</b>

In [ ]:
df_median = pd.read_csv("df_median.csv")

In [ ]:
df_median.head(5)

In [ ]:
df_median = df_median.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_median

In [ ]:
X = df_median.iloc[:, :-1].values
y = df_median.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.3,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>Prediction</p>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_median_imputed_dataset_70_30_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_median_imputed_dataset_70_30_split

In [ ]:
actual_vs_predicted_median_imputed_dataset_70_30_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_median_imputed_dataset_70_30_split.csv",index=True)

<b>Evaluating the model performance</b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

<b>Model building on Random imputation dataset by splitting 70:30 </b>

In [ ]:
df_random = pd.read_csv("df_random.csv")

In [ ]:
df_random.head(5)

In [ ]:
df_random = df_random.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_random

In [ ]:
X = df_random.iloc[:, :-1].values
y = df_random.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.3,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>Prediction</b>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_random_imputed_dataset_70_30_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_random_imputed_dataset_70_30_split

In [ ]:
actual_vs_predicted_random_imputed_dataset_70_30_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_random_imputed_dataset_70_30_split.csv",index=True)

<b>Evaluating the model performance</b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

<b>Model building on mean imputation dataset by splitting 50:50</b>

In [ ]:
df_mean = pd.read_csv("df_mean.csv")

In [ ]:
df_mean = df_mean.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_mean.head()

In [ ]:
X = df_mean.iloc[:, :-1].values
y = df_mean.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.5,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>Prediction</b>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_mean_imputed_dataset_50_50_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_mean_imputed_dataset_50_50_split

In [ ]:
actual_vs_predicted_mean_imputed_dataset_50_50_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_mean_imputed_dataset_50_50_split.csv",index=True)

<b>Evaluating the model performance</b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

<b>Model building on median imputation dataset by splitting 50:50</b>

In [ ]:
df_median = pd.read_csv("df_median.csv")

In [ ]:
df_median.head(5)

In [ ]:
df_median = df_median.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_median

In [ ]:
X = df_median.iloc[:, :-1].values
y = df_median.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.5,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>prediction </b>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_median_imputed_dataset_50_50_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_median_imputed_dataset_50_50_split

In [ ]:
actual_vs_predicted_median_imputed_dataset_50_50_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_median_imputed_dataset_50_50_split.csv",index=True)

<b>Evaluating the model performance </b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

<b>Model building on Random imputation dataset by splitting 50:50</b>

In [ ]:
df_random = pd.read_csv("df_random.csv")

In [ ]:
df_random.head(5)

In [ ]:
df_random = df_random.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [ ]:
df_random

In [ ]:
X = df_random.iloc[:, :-1].values
y = df_random.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.5,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

<b>prediction</b>

In [ ]:
y_predictions = model.predict(X_test)

In [ ]:
# Comparing Actual vs Predicted
actual_vs_predicted_random_imputed_dataset_50_50_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
actual_vs_predicted_random_imputed_dataset_50_50_split

In [ ]:
actual_vs_predicted_random_imputed_dataset_50_50_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/actual_vs_predicted_random_imputed_dataset_50_50_split.csv",index=True)

<b>Evaluating the model performance</b>

In [ ]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

# Result 
<b> mean imputation 70:30 split:- </b>   <b>MAE:</b>5.994998962487643  <b>RMSE:</b>9.106937067715476<br>
<b> median imputation 70:30 split:- </b> <b>MAE:</b>6.029875501234977  <b>RMSE:</b>9.104241199571797<br>
<b> random imputation 70:30 split:- </b> <b>MAE:</b>6.953919396784719  <b>RMSE:</b>9.75978066364613<br>
<b> mean imputation 50:50 split:- </b>   <b>MAE:</b>5.873493790848397  <b>RMSE:</b>8.543558288713117<br>
<b> median imputation 50:50 split:- </b> <b>MAE:</b>5.904885140606578  <b>RMSE:</b>8.544725357753025<br>
<b> random imputation 50:50 split:- </b> <b>MAE:</b>6.979183258767262  <b>RMSE:</b>9.436686129592047<br>

mean imputation 50:50 split:- MAE:5.873493790848397 RMSE:8.543558288713117 <br>
                <b>Considered as best model </b>

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_mean = pd.read_csv("df_mean.csv")

In [3]:
df_mean.head(2)

   Unnamed: 0            Name        State name     Weight      Height
0           0  Praharsh Dixit  Madhya   Pradesh  69.000000  178.000000
1           1  Sangeeta Gorai       West bengal  58.718927  164.356003

In [4]:
df_mean = df_mean.drop(['Unnamed: 0', 'Name','State name'], axis = 1)

In [5]:
df_mean

         Weight      Height
0     69.000000  178.000000
1     58.718927  164.356003
2     63.800000  161.000000
3     62.000000  174.000000
4     56.100000  154.000000
...         ...         ...
1511  61.800000  151.000000
1512  78.000000  186.000000
1513  52.000000  172.000000
1514  51.000000  174.000000
1515  76.000000  170.000000

[1516 rows x 2 columns]

In [15]:
normalized_df=(df_mean-df_mean.min())/(df_mean.max()-df_mean.min())

In [16]:
normalized_df

        Weight    Height
0     0.451728  0.310861
1     0.329189  0.208659
2     0.389750  0.183521
3     0.368296  0.280899
4     0.297974  0.131086
...        ...       ...
1511  0.365912  0.108614
1512  0.558999  0.370787
1513  0.249106  0.265918
1514  0.237187  0.280899
1515  0.535161  0.250936

[1516 rows x 2 columns]

In [17]:
X = normalized_df.iloc[:, :-1].values
y = normalized_df.iloc[:,1].values

In [18]:
X

array([[0.45172825],
       [0.32918864],
       [0.3897497 ],
       ...,
       [0.24910608],
       [0.23718713],
       [0.53516091]])

In [19]:
y

array([0.31086142, 0.2086592 , 0.1835206 , ..., 0.2659176 , 0.28089888,
       0.25093633])

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.5,random_state=0)

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [22]:
y_predictions = model.predict(X_test)

In [24]:
# Comparing Actual vs Predicted
Final_actual_vs_predicted_mean_imputed_Normalized_dataset_50_50_split = pd.DataFrame({'Actual': y_test, 'Predicted': y_predictions})
Final_actual_vs_predicted_mean_imputed_Normalized_dataset_50_50_split

       Actual  Predicted
0    0.116105   0.170103
1    0.250936   0.229877
2    0.153558   0.206632
3    0.265918   0.226556
4    0.213483   0.229877
..        ...        ...
753  0.325843   0.166782
754  0.303371   0.243161
755  0.198502   0.219915
756  0.134831   0.203311
757  0.208659   0.209019

[758 rows x 2 columns]

In [25]:
Final_actual_vs_predicted_mean_imputed_Normalized_dataset_50_50_split.to_csv("C:/Users/hp/Desktop/xyz/my_friend_lokesh/Final_actual_vs_predicted_mean_imputed_Normalized_dataset_50_50_split.csv",index=True)

In [26]:
from sklearn import metrics
print("mean absolute error:", metrics.mean_absolute_error(y_test,y_predictions))

mean absolute error: 0.04399620817114901

In [28]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_predictions))
print("RMSE :",rms)

RMSE : 0.06399669130122185

# Final Result <br>
<b>mean absolute error: 0.04399620817114901 <br>
RMSE : 0.06399669130122185</b>